POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB={{name}}-db
ADMIN_EMAIL=
DATABASE_URL="${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

GOOGLE_GENERATIVE_AI_API_KEY=


